dist
dist-*
cabal-dev
*.s
*.ll
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
output/
*.ibc
*.agdai
.output
.grin-output/
grin/.end-to-end-test/
.vscode/
*.out
*.out.ll
*.out.s
.ghc.environment.*
hie.yaml
*.lock
result
